html, body {

  background: #ffaa00; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffaa00 1%, #ff8800 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #ffaa00 1%,#ff8800 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ffaa00 1%,#ff8800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa00', endColorstr='#ff8800',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  font-family: 'Raleway', sans-serif;
}

.container {
  padding-top: 10em;
}

.row {
  margin: 0px;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color:#000;
  -moz-text-shadow: 0 0 20px #ff8;
  -webkit-text-shadow: 0 0 20px #ff8;
  text-shadow: 0px 0px 20px #ff8;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icons .icon {
  flex-basis: 30px;
  text-align: left;
}

.icons .icon.playback {
  order: 99;
  flex-grow: 10;
  align-self: flex-end;
  text-align: right;
}

.icons a {
  font-size:2em;
}

.icons a {
  padding-top: 5px;
}

.icons a:not(.selected) {
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}

.col-sm-4 {
  padding:0;
}

a div.col-sm-4:first-child {
  /*width: 83.33333333%;
  margin-left: -50%;*/
  /*direction: rtl;*/
}
a div.col-sm-4:first-child,
a div.col-sm-4:last-child {
  font-size: 2.0em;
  line-height: 1.9em;
  height: 1.9em;
}
a div.col-sm-4 {
    text-align: center;
    font-size: 3.25em;
    line-height: 1em;
}
.progress {
  height: 1px;
  background-color: transparent;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  background-color: #000;
}

@media (min-width: 768px) {
  .container {
    padding-top: 14em;
  }

  .icons {
    text-align:left;
  }

  a div.col-sm-4:first-child {
    text-align: right;
  }
  a div.col-sm-4:last-child {
    text-align: left;
  }

  a div.col-sm-4:first-child,
  a div.col-sm-4:last-child {
    font-size: 2.0em;
    line-height: 1.9em;
    height: 1.9em;
  }
  a div.col-sm-4 {
  font-size: 3.25em;
  line-height: 1em;
  }
}

@media (min-width: 992px) {
  .container {
    padding-top: 16em;
  }

  .icons a {
    text-align:right;
  }

  a div.col-sm-4:first-child,
  a div.col-sm-4:last-child {
    font-size: 2.5em;
    line-height: 1.8em;
    height: 1.8em;
  }
  a div.col-sm-4 {
      font-size: 4.25em;
      line-height: 1em;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-top: 20em;
  }

  .icons a {
    text-align:right;
  }

  a div.col-sm-4:first-child,
  a div.col-sm-4:last-child {
    font-size: 2.5em;
    line-height: 2.3em;
    height: 2.3em;
  }
  a div.col-sm-4 {
      font-size: 5.25em;
      line-height: 1em;
  }
}
